@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Fira+Sans:wght@300;400&display=swap');

.singleRev{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Fira Sans', sans-serif;
    color: #474344;
}
.reviewInfo > h4 {
    font-size: x-large;
    margin-bottom: 15px;
    margin-top: 15px;
}
.reviewInfo > h5 {
    font-size: large;
    margin-top:5px;
    margin-bottom: 15px;
}
.review > p{
    margin-top: 0px;
}
.noRev {
    font-family: 'Fira Sans', sans-serif;
    color: #474344;
    font-size: larger;
}
.revButton {

    width: 250px;
    margin-top: 5px;


}
.deleteReview {
    margin:auto;
    background-color: #943D2C;
    font-family: 'Bagel Fat One', cursive;
    border-radius: 5px;
    border: solid #474344 2px;
    height: 1vh;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s;
}
.line {
    margin-top: 3px;
    border: rgba(71,67,68, 0.15) 1px solid;
    width: 30vw;
}
.buttForRev{
    border: #474344 solid 1px;
    transition: 0.1s;
}
.buttForRev:hover {
    background-color: #E5BD77;
    color:#943D2C;
    border-radius: 20px;
}
.deleteReview:hover {
    background-color: #EB0701;
    color:  #E5BD77 ;
    border-radius: 20px;
}
