/* TODO Add site wide styles */
body {
    /* background-color:   #DFD0BB; */
    background-color: #DFD0BB;
}
.app {
    margin: 0;
    padding: 0;

}
#root {
    margin: 0;
    padding: 0;
}
html {
    height: 0;

}
