/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Fira+Sans:wght@300;400&display=swap');

.hidden{
    /* visibility: hidden; */
    display: none;
}
body{
    margin: 0px;
    padding: 0px;
}
.rando {
    position: relative;
    z-index: 2;
}
.navBar {
    background-color: #943D2C;
    color: #E5BD77;
    position: fixed;
    float: none;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bagel Fat One', cursive;
    margin-top: 0;
    border-bottom: solid #474344 3px;
}
.home{
    text-decoration: none;
    color:#E5BD77;
    font-size: xx-large;


}
button {
    background-color: transparent;
    color: #E5BD77;
    border: none;
    cursor: pointer;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;

}
.sesh {
    text-decoration: none;
    color:#E5BD77;
    font-size: x-large;
    padding: 1rem;
    margin-right: 1rem;
}

.sessionLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
#createSButt {
    color:#E5BD77;
    text-decoration: none;
    font-size: larger;
    margin-right: auto;
    z-index: 1;
}

/* .profile-dropdown {
 background-color: #943D2C;
 list-style: none;
 margin-top: 150px;
} */

/* .profile-nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 180px;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 0;
    background-color: #303646;
    color: black;
    z-index: 1;
    border-radius: 18px;
  } */

  .navButton {
    background-color: #943D2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 3%;
    margin:0;
    padding:0;
    top: 15%;
    width:200px;
    justify-items: center;


  }

  .profile-dropdown {
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    margin-left: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around; */
  }
  .profile-dropdown > li {
    margin: 10px 0;
  }

  #manSpotLink {
    text-decoration: none;
    color:#E5BD77;
  }
  .logoutCont {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;
    color: #943D2C
  }
  .logoutButt {
    height: 4vh;
    width: 12vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #E5BD77;
    color: #943D2C;
    font-family: 'Bagel Fat One', cursive;
    border: solid #474344 2px;
    border-radius: 10px;
    transition: 0.2s;

  }
  #sixtwosix:hover {
    background-color: #474344;
    color: #CC7952;
  }


  #manSpotLink:hover {
    color: #DFD0BB;
    font-size: large;
  }
  .logoutButt:hover {
    color: #DFD0BB;
    font-size: larger;
  }
#navHome {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#navHome > p {
  font-size: xx-large;
}
.home {
  transition: all 0.1s ease-in-out;
}
.home:hover {
  transform: scale(1.1)
}
.bottomLine {
  border-bottom: solid #E5BD77 1px ;
  padding-bottom: 5px;
}
